
<div class="container">
  <h1>Contas</h1>
  <div class="botoes">
      <div class="voltar">
          <button class="btn btn-sm btn-warning" (click)="voltar()">Voltar</button>
      </div>
      <div class="adicionar">
          <button class="btn btn-sm btn-primary" (click)="AdicionaConta()">Nova Conta</button>
      </div>
  </div>
  <div class="linha"></div>
  <div class="grid">
      <div class="card card-sm" *ngFor="let conta of contas">
          <div class="card-header">
            <b>{{conta.nome}}</b> 
            <b>{{retornaMes(conta) | date : 'MMMM' }}</b>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <label for="" class="col">Crédito:</label>
              <input type="number" class="col input" [(ngModel)]="conta.credito" (click)="updateDebito(conta)"/>
              <button class="btn btn-sm btn-success col">Salvar</button>
            </div>
            <div class="row ">
              <label for="debito" class="label col">Débito:</label>
              <input type="number" class="input col" [(ngModel)]="conta.debito"/>
              <button class="btn btn-sm btn-success col" (click)="updateDebito(conta)">Salvar</button>
            </div>
          </div>
      </div>
  </div>
  
</div>
