.botoes{
    display: grid;
    grid-template-columns: 50% 50%;
}

.adicionar{
    display: flex;
    justify-content: end;
}



.parcelas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
}

@media screen and (max-width: 500px) {
    .secoes {
        grid-template-columns: auto auto;
    }    
}
