
<!-- Modal -->
<div class="modal fade" id="addTransacaoModal" tabindex="-1" aria-labelledby="addTransacaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addTransacaoLabel">Adicionar Transação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="salvarTransacao()" #form="ngForm">

          <!-- Descrição -->
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" id="descricao" name="descricao" class="form-control" required [(ngModel)]="novaDespesa.descricao">
          </div>
          <!-- Valor -->
          <div class="mb-3">
            <label for="valor" class="form-label">Tipo</label>
            <select id="tipo" name="tipo" class="form-select" required [(ngModel)]="novaDespesa.tipo">
              <option value="entrada">Entrada</option>
              <option value="saida">Saída</option>
            </select>
          </div>
          <!-- Categoria -->
          <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="categoria" name="categoria" class="form-select" [(ngModel)]="categoriaId" required (change)="buscarsubcategoria(categoriaId)">
              <option [value]="categoria.id" *ngFor="let categoria of categorias">{{categoria.nome}}</option>
            </select>
          </div>

          <!-- SubCategoria -->
          <div class="mb-3" >
            <label for="subcategoria" class="form-label">Subcategoria</label>
            <select id="subcategoria" name="subcategoria" class="form-select" required [(ngModel)]="novaDespesa.categoria">
              <option [value]="categoria.id" *ngFor="let categoria of subcategorias">{{categoria.nome}}</option>
            </select>
          </div>
          <!-- Valor -->
          <div class="mb-3">
            <label for="valor" class="form-label">Valor Total</label>
            <input type="number" id="valor" name="valor" class="form-control" required [(ngModel)]="novaDespesa.valor">
          </div>

          <!-- Data -->
          <div class="mb-3">
            <label for="dataCompra" class="form-label">Data da Compra</label>
            <input type="date" id="dataCompra" name="dataCompra" class="form-control" required [(ngModel)]="dataCompra">
          </div>

          <!-- Checkboxes de opções -->
          <div class="form-check mb-2" *ngIf="novaDespesa.tipo == 'saida'">
            <input class="form-check-input" type="checkbox" id="cartao" name="cartao" [(ngModel)]="isCartao">
            <label class="form-check-label" for="cartao">Pago com cartão</label>
          </div>

          <div class="form-check mb-3" *ngIf="novaDespesa.tipo == 'saida'">
            <input class="form-check-input" type="checkbox" id="parcelado" name="parcelado" [(ngModel)]="isParcelado">
            <label class="form-check-label" for="parcelado">Compra parcelada</label>
          </div>

          <!-- Campos de parcelamento -->
          <div *ngIf="isParcelado && novaDespesa.tipo == 'saida'" class="border rounded p-3" >
            <div class="mb-3">
              <label for="qtdParcelas" class="form-label">N° de Parcelas</label>
              <input type="number" id="qtdParcelas" name="qtdParcelas" class="form-control" [(ngModel)]="requestParcela.QtdParcelas">
            </div>
            <div class="mb-3">
              <label for="valorParcelas" class="form-label">Valor das Parcelas</label>
              <input type="number" id="valorParcelas" name="valorParcelas" class="form-control" [(ngModel)]="requestParcela.Valor">
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="salvarTransacao()" [disabled]="!form.valid">Salvar</button>
      </div>

    </div>
  </div>
</div>
