<div class="infos" *ngIf="resumoMensal$ | async as resumo">

    <div class="info-0">
      <div class="data-grafico">
        <div style="font-weight: 900;"
            class="data">
            <div class="mes">
                {{systemService.mes.nome}} | {{systemService.ano.valor}}
            </div>
        </div>
      </div>
    </div>

    <div id="info-1" name="info-1" class="info-1">
      
      <div class="grafico-card">
        <div class="cards">
          <app-cards 
            titulo="Gastos" 
            [valor]="resumo.gastos_mensal_pendente"
            tipo="saida">
          </app-cards>

          <app-cards 
            titulo="Receitas" 
            [valor]="resumo.receita_mensal_pendente"
            tipo="entrada">
          </app-cards>

          <app-cards 
            titulo="Saldo" 
            [valor]="resumo.saldo_atual"
            tipo="saldo">
          </app-cards>
        </div>
        <app-extrato></app-extrato>
        
        <div class="grafico sombra up-hover" hidden>
          <div class="grafico-header">
            <h5>Despesas Parcelas: {{novasParcelas.mensal.pendente | currency}}</h5>
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addTransacaoModal">add</button>
          </div>
          <div class="grafico-body" (click)="previstos()">
            <div class="porcentagem-despesa" *ngFor="let despesa of novasParcelas.parcelas">
              <div class="barra-progressao up-hover" (click)="parcelas(despesa.descricao)">
                <div class="progressao-barra" 
                     [ngStyle]="{
                       'width': ( despesa.total_pago * 100)/ despesa.total_parcelado + 'px',
                       'background-color': despesa.status == 'pago' ? '#7ac27a' : '#355f70;'
                      }">
                     {{despesa.descricao.replace(' - Parcela','')}}
                </div>
              </div>
              <div class="dados-parcelas">
                <b>{{despesa.qtd_parcelas_pagas}} de {{despesa.qtd_parcelas}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="info-3" hidden>
      <div class="d-flex">
        <div class="col" style="font-size: 25px; font-weight: bolder;">{{novoAgrupamento.soma.soma | currency}}</div>
      </div>
      <div class="agrupamento">
        <div class="pagas">
          <div class="paga sombra up-hover" *ngFor="let paga of novoAgrupamento!.agrupamento">
            <img [src]="defineImagem(paga.categoria)" style="width: 50px; height: 50px;" alt="">
            {{paga.total_tipo| currency}}
          </div>
        </div>
      </div>
    </div> 


</div>


<!-- Modal -->
<div class="modal fade" id="addTransacaoModal" tabindex="-1" aria-labelledby="addTransacaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addTransacaoLabel">Adicionar Transação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="salvarTransacao()" #form="ngForm">

          <!-- Descrição -->
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" id="descricao" name="descricao" class="form-control" required [(ngModel)]="novaDespesa.descricao">
          </div>

          <!-- Categoria -->
          <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="categoria" name="categoria" class="form-select" required [(ngModel)]="novaDespesa.categoria">
              <option value=1>Alimentação</option>
              <option value=2>Transporte</option>
              <option value=3>Saúde</option>
              <option value=4>Educação</option>
              <option value=5>Lazer</option>
              <option value=6>Moradia</option>
              <option value=7>Serviços</option>
              <option value=8>Outros</option>
              <option value=9>Investimentos</option>
            </select>
          </div>

          <!-- Valor -->
          <div class="mb-3">
            <label for="valor" class="form-label">Valor Total</label>
            <input type="number" id="valor" name="valor" class="form-control" required [(ngModel)]="novaDespesa.valor">
          </div>

          <!-- Data -->
          <div class="mb-3">
            <label for="dataCompra" class="form-label">Data da Compra</label>
            <input type="date" id="dataCompra" name="dataCompra" class="form-control" required [(ngModel)]="dataCompra">
          </div>

          <!-- Checkboxes de opções -->
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="cartao" name="cartao" [(ngModel)]="isCartao">
            <label class="form-check-label" for="cartao">Pago com cartão</label>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="parcelado" name="parcelado" [(ngModel)]="isParcelado">
            <label class="form-check-label" for="parcelado">Compra parcelada</label>
          </div>

          <!-- Campos de parcelamento -->
          <div *ngIf="isParcelado" class="border rounded p-3">
            <div class="mb-3">
              <label for="qtdParcelas" class="form-label">N° de Parcelas</label>
              <input type="number" id="qtdParcelas" name="qtdParcelas" class="form-control" [(ngModel)]="requestParcela.QtdParcelas">
            </div>
            <div class="mb-3">
              <label for="valorParcelas" class="form-label">Valor das Parcelas</label>
              <input type="number" id="valorParcelas" name="valorParcelas" class="form-control" [(ngModel)]="requestParcela.Valor">
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="salvarTransacao()" [disabled]="!form.valid">Salvar</button>
      </div>

    </div>
  </div>
</div>
