@media screen  and (max-width: 400px) {
  .evolucao {
    width: 100%;
  }

  .grafico-card {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .extrato, .planejamento {
    width: 100%;
    display: block;
  }

  .coluna-mobile {
    display: flex;
    flex-direction: column;
  }
}