@media screen  and (max-width: 600px) {
  
  .barra-progressao {
     width: 100px;
  }

  .grafico-body {
    
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    
  }

}