@media screen  and (max-width: 400px) {
  .planejamento {
    display: none;
  }

  .evolucao {
    width: 100%;
  }

  .grafico-card {
    padding: 0;
  }
  .extrato {
    width: 100%;
    display: block;
  }
}