@media screen  and (max-width: 400px) {
    .chart-card {
        padding: 15px;
        width: 100%;
        max-width: 400px;
    }

    .chart-container {
        width: 100%;
        max-width: 400px;
    }
}
