<div class="chart-card">

  <div class="header">
    <h3>Evolução</h3>

    <div class="controls">
      <select>
        <option>Anual</option>
        <option>Mensal</option>
      </select>

      <div class="arrows">
        <button class="arrow dark">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="arrow light">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div #chartDiv class="chart-container"></div>

</div>
