@media screen  and (max-width: 400px) {
    .chart-card {
        padding: unset;
        width: 100%;
    }

    .chart-container {
        width: 100%;
        min-width: 600px;
        min-height: 300px;
    }
    .grafico {
        overflow: auto;
    }
}
