.chart-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header h3 {
  color: #000000;
}

.controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

select {
  border: none;
  background: #f1f5f9;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 500;
}

.arrows {
  display: flex;
  gap: 8px;
}

.arrow {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.dark {
  background: #0f172a;
  color: #fff;
}

.arrow.light {
  background: #e5e7eb;
  color: #64748b;
}

.chart {
  width: 100%;
  height: 320px;
  margin-top: 20px;
}

.chart-container {
  min-width: 400px;
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 800px) {
  .chart-card {
    background: #fff;
    border-radius: 20px;
    padding: 24px;
    width: 100%;
  }
}