<form id="entradaForm" class="entradasForm" (submit)="OnSubmit()">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required [(ngModel)]="entrada.nome">
    </div>
    <div class="form-group">
        <label for="valor">Valor:</label>
        <input type="number" id="valor" name="valor" step="0.01" required [(ngModel)]="entrada.valor">
    </div>
    <div class="form-group">
        <label for="contaId">Conta ID:</label>
        <select name="contaId" id="contaId" [(ngModel)]="entrada.contaId">
            <option [value]="conta.id" *ngFor="let conta of contas"> {{conta.nome}} </option>
        </select>
    </div>
    <div class="form-group">
        <label for="diaDebito">Dia do Débito:</label>
        <input type="number" id="diaDebito" name="diaDebito" min="1" max="31" required [(ngModel)]="entrada.diaDebito">
    </div>
    <div class="form-group">
        <label for="mesDebito">Mês do Débito:</label>
        <input type="number" id="mesDebito" name="mesDebito" min="1" max="12" required [(ngModel)]="entrada.mesDebito">
    </div>
    <div class="form-group">
        <label for="anoDebito">Ano do Débito:</label>
        <input type="number" id="anoDebito" name="anoDebito" min="1900" max="2100" required [(ngModel)]="entrada.anoDebito">
    </div>
    <div class="form-group">
        <label for="isFixo">É Fixo:</label>
        <input type="checkbox" id="isFixo" name="isFixo" [(ngModel)]="entrada.isFixo">
    </div>
    <div class="form-group">
        <button type="submit">Enviar</button>
    </div>
</form>