
.table-container {
  max-height: 400px; /* Ajuste conforme necessário */
  overflow-y: auto;
}

tbody td {
  text-align: left;
  border: 1px solid #768da1
}

th.sticky-col, td.sticky-col {
  background-color: #3b666b;
  position: sticky;
  left: 0;
  z-index: 1; /* Garantir que a coluna fixa esteja acima das outras colunas */
}

thead th {
  background-color: #29595f;
}  

.dia {
    white-space: nowrap;
    overflow: hidden; /* Opcional: oculta o texto que excede o contêiner */
    text-overflow: ellipsis; 
}

.tabela {
  border-collapse: collapse;
  table-layout: fixed;
}