<div class="tabla-container">
    <table class="tabela">
        <thead>
          <tr>
            <th class="sticky-col">Tipo</th>
            <th *ngFor="let dia of systemService.mes.dias" class="dia"> 
                <b>{{dia.diaSemana.substring(0,3)}} - {{dia.diaMes}}</b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tabela">
            <td class="sticky-col">{{item.Nome}}</td>
            <td *ngFor="let dia of systemService.mes.dias" class="dia"> {{item.Info[dia.diaMes]?.valor | currency}} </td>
          </tr>
          <tr>
            <td>Total</td>
            <td *ngFor="let dia of systemService.mes.dias"> {{resultados[dia.diaMes] | currency}} </td>
          </tr>
        </tbody>
    </table>
</div>

