<div class="transactions-card">

  <!-- Header -->
  <div class="header">
    <h3>Últimas transações</h3>

    <div class="actions">
      <button class="btn-outline">Ver extrato</button>
      <button class="btn-outline">Adicionar Transação</button>
      <button class="btn-outline icon">
        <i class="bi bi-grid"></i>
        Gerenciar categorias
      </button>
    </div>
  </div>

  <!-- Table Header -->
  <div class="table-header">
    <input type="checkbox">
    <span>Transação</span>
    <span>Descrição</span>
    <span class="sortable">Tipo</span>
    <span>Origem</span>
    <span class="sortable text-end">Valor</span>
    <span class="text-center">Ações</span>
  </div>

  <!-- Transactions -->
  <ng-container *ngFor="let item of transacoes; trackBy: trackByIndex; let i = index">

    <!-- Date label -->
    <div *ngIf="i === 0 || transacoes[i - 1].data !== item.data"
         class="date-label">
      {{ item.data }}
    </div>

    <!-- Row -->
    <div class="row-item">
      <input type="checkbox">

      <div class="transaction">
        <div class="icon">
            <img [src]="defineImagem(item.categoria)" style="width: 50px; height: 50px;" alt="">
        </div>
        <div>
          <strong>{{ item.descricao }}</strong>
          <small>{{ item.categoria }}</small>
        </div>
      </div>

      <div class="description">
        {{ item.descricao || '-' }}
      </div>

      <div class="type">
        <span [class.pix]="item.tipo === 'Pix'">{{ item.tipo }}</span>
      </div>

      <div class="origin">
        {{ item.ispaycart }}
      </div>

      <div class="value">
        R$ {{ item.valor | number:'1.2-2' }}
      </div>

      <div class="row-actions">
        <i class="bi bi-eye"></i>
        <i class="bi bi-trash"></i>
        <i class="bi bi-pencil"></i>
      </div>
    </div>

  </ng-container>

</div>
