<div class="transactions-card sombra">

  <!-- Header -->
  <div class="header">
    <h3>Últimas transações</h3>

    <div class="actions">
      <button class="ver_extrato btn btn-outline" (click)="toEstrato()">Ver extrato</button>
      <button class="add_transacao btn btn-outline" data-bs-toggle="modal" data-bs-target="#addTransacaoModal">Nova Transação</button>
      <button class="icon btn-outline icon">
        <i class="bi bi-grid"></i>
        Gerenciar categorias
      </button>
    </div>
  </div>

  <!-- Table Header -->
  <div class="table-header">
    <input type="checkbox">
    <span>Transação</span>
    <span>Descrição</span>
    <span class="sortable">Tipo</span>
    <span>Origem</span>
    <span class="sortable text-end">Valor</span>
    <span class="text-center">Ações</span>
  </div>

  <!-- Transactions -->
  <ng-container *ngFor="let item of transacoes; trackBy: trackByIndex; let i = index">

    <!-- Date label -->
    <div *ngIf="i === 0 || transacoes[i - 1].data !== item.data"
         class="date-label">
      {{ item.data }}
    </div>

    <!-- Row -->
    <div class="row-item">
      <input type="checkbox">

      <div class="transaction">
        <div class="icon">
            <img [src]="defineImagem(item.categoria)" style="width: 50px; height: 50px;" alt="">
        </div>
      </div>

      <div class="description" (click)="parcelas(item.descricao)">
        {{ item.descricao.replace(" - Parcela","") || '-' }}
      </div>

      <div class="type">
        <span [class.pix]="item.tipo === 'Pix'">{{ item.tipo }}</span>
      </div>

      <div class="origin">
        {{ item.cartaoid }}
      </div>

      <div class="value" [ngClass]="item.tipo" >
        R$ {{ item.valor | number:'1.2-2' }}
      </div>

      <div class="row-actions">
        <i class="bi bi-trash" (click)="apagar(item.id)"></i>
        <i class="bi bi-currency-exchange"  (click)="efetivar(item)" *ngIf="item.status == 'pendente'"></i>
        <i class="bi bi-check-all text-success"  (click)="restituir(item)" *ngIf="item.status == 'pago'"></i>
      </div>
    </div>

  </ng-container>

</div>

<app-modal-nova-transacao></app-modal-nova-transacao>