@media screen  and (max-width: 400px) {
  .transactions-card {
    width: 100%;
    padding: 20px;

  }
  .actions, .table-header, .row-item input, .row-actions {
    display: none;
  }

  .row-item {
    display: grid;
    grid-template-areas: 
    "icon categoria tipo"
    "icon descricao valor";
    grid-template-columns: 10% 80% 10%;
  }
  .icon {
    grid-area: icon;
  }
  .value {
    grid-area: valor;
    font-size: small;
  }
  .type {
    grid-area: tipo;
    text-align: end;
  }
  .date-label {
    display: none;
  }
}
