@media screen and (max-width: 400px) {

  .header {
    display: grid;
    grid-template-areas:
      "h3 actions"
      "vazio select";
    gap: 10px;
  }

  .select-cartoes {
    grid-area: select;
    display: grid;
    place-self: end;
  }

  .transactions-card {
    width: 100%;
    padding: 20px;
  }

  .ver_extrato,
  .table-header,
  .row-item input,
  .bi-eye,
  .icon,
  .origin {
    display: none;
  }

  .row-item {
    display: grid;
    grid-template-areas:
      "icon tipo action"
      "icon descricao valor";
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 30% 70%;
    height: 60px;
  }

  .icon {
    grid-area: icon;
  }

  .value {
    grid-area: valor;
    font-size: small;
  }

  .type {
    grid-area: tipo;
    text-align: center;
    margin-bottom: 10px;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: descricao;
  }

  .add_transacao {
    padding: 3px;
    align-self: flex-start;
    background: #0b2f2f;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 14px;
  }

  .row-actions {
    grid-area: action;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }
}