@media screen  and (max-width: 400px) {
  .transactions-card {
    width: 100%;
    padding: 20px;
  }

  .ver_extrato, .table-header, 
  .row-item input, .bi-eye, 
  .icon {
    display: none;
  }
 
  .row-item {
    display: grid;
    grid-template-areas: 
    "icon tipo action"
    "icon descricao valor";
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 30% 70%;
    height: 60px;
  }
  .icon {
    grid-area: icon;
  }
  .value {
    grid-area: valor;
    font-size: small;
  }
  .type {
    grid-area: tipo;
    text-align: center;
    margin-bottom: 10px;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: descricao ;
  }
  .add_transacao {
    padding: 3px;
  }
  .row-actions {
    grid-area: action;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }
}
