.graficos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    place-items: center ;
}

#bar {
    width: 400px;
}

#pie {
    width: 400px;
}

#anual {
    width: 400px;
}