<div class="container">
  <div class="row">
    <div class="col voltar">
        <button class="btn btn-sm btn-warning" (click)="Voltar()">Voltar</button>
    </div>
    <div class="col">
      <select class="my-form-select" (change)="listaDespesas($any($event.target).value)" [(ngModel)]="cardId"> 
        <option value=0>Total:
          <h1 *ngIf="0 == cardId">{{novo.soma_parcelados + novo.soma_adicionais | currency}}</h1>
        </option>
        <option [value]="card.id" *ngFor="let card of cartao">
          {{card.nome}}:
          <h1 *ngIf="card.id == cardId" class="valor">{{novo.soma_parcelados + novo.soma_adicionais | currency}}</h1>
        </option>
      </select>
    </div>
    <div class="col butao">
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addTransacaoModal">Add</button>
    </div>
  </div>  

  <div class="linha"></div>
  <h3>Abertos Previstos: {{novo.soma_parcelados | currency}}</h3>
  <div class="parcelas" *ngIf="novo.parceladas.length > 0">
    <div *ngFor="let parcela of novo.parceladas">
      <div class="card card-sm"  [ngStyle]="{'background-color': DefineCorParcela(parcela.data)}">
        <div class="card-header text-break d-flex row">
          <label for="">
            {{parcela.descricao.replace(' - Parcela', '')}}
            <img *ngIf="parcela.ispaycart" src="/assets/img/card.png" alt="">
          </label>
          <input type="date" [(ngModel)]="parcela.data" class="form-control form-control-sm col-1">
          <button class="btn btn-success btn-sm col">Up</button>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>Valor:</div>
            <div>{{(parcela.valor) | currency}}</div>
          </div>
          
          <div class="row">
            <button class="btn btn-sm btn-primary"
                    *ngIf="!parcela.adicionada"
                    (click)="adicionarListaPagamento(parcela)">
              Adicionar
            </button>          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3"></div>
  <h3>Abertos Adicionais: {{novo.soma_adicionais | currency}}</h3>
  <div class="card-parcelas" *ngIf="novo.adicionais.length > 0">
    <div *ngFor="let gasto of novo.adicionais" class="parcela bg-verde-pastel" >
      <div class="text-break card-header">
        <b>{{gasto.descricao}}</b>
        <img *ngIf="gasto.ispaycart" src="/assets/img/card.png" alt="">
        <button class="btn btn-sm" (click)="apagar(gasto.id)"><img src="/assets/img/user-trash.svg" alt=""></button>
      </div> 
      <div class="card-body">
        <div class="d-flex">
          <div class="me-2">{{gasto.data | date}}:</div>
          <div>{{gasto.valor | currency}}</div>
        </div>
        <button class="btn btn-sm btn-primary"
                *ngIf="!gasto.adicionada"
                (click)="adicionarListaPagamento(gasto)">
          Adicionar
        </button>         
      </div>
    </div>
  </div>
  <div class="card mb-3"></div>
  <h3>Pagos: {{novo.soma_pagos | currency}}</h3>
  <div class="card-parcelas" *ngIf="novo.pagos.length > 0">
    <div *ngFor="let gasto of novo.pagos" class="parcela bg-verde-pastel">
        <div class="card-header text-break">
          <b (click)="objetivos()">
            {{gasto.descricao}}<br>
            <img *ngIf="gasto.ispaycart" src="/assets/img/card.png" alt="">
          </b> 
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>Valor:</div>
            <div>{{gasto.valor | currency}}</div>
            <button class="btn btn-sm btn-success" (click)="apagar(gasto.id)">-</button>
          </div>
        </div>
      </div>
  </div>
</div>


<button class="fab" (click)="abrirSelecionadas()">
  <img src="/assets/img/shopping-cart.svg"/>
</button>

<div class="painel-selecionadas" *ngIf="mostrarSelecionadas">
  <h3>Área de pagamentos</h3>
  
  <div class="div">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <table class="table table-rover">
          <thead>
            <tr>
              <td>id</td>
              <td>Data</td>
              <td>valor</td>
              <td>Juros</td>
              <td>remover</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaPagamento">
              <td>{{item.id}}</td>
              <td>{{item.data| date}}</td>
              <td>{{item.valor | currency}}</td>
              <td> </td>
              <td><button class="btn btn-sm btn-success" (click)="removedaListaPagamento(item)">-</button></td>
            </tr>
          </tbody>
        </table>
        <div><span>Total: </span>{{totalPagar | currency}}</div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-danger" (click)="abrirSelecionadas()">Fechar</button>
        <button class="btn btn-sm btn-success" (click)="pagar()">Pagar</button>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="addTransacaoModal" tabindex="-1" aria-labelledby="addTransacaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addTransacaoLabel">Adicionar Transação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="salvarTransacao()" #form="ngForm">

          <!-- Descrição -->
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" id="descricao" name="descricao" class="form-control" required [(ngModel)]="novaDespesa.descricao">
          </div>

          <!-- Categoria -->
          <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="categoria" name="categoria" class="form-select" required [(ngModel)]="novaDespesa.categoria">
              <option value=0>Selecione uma categoria</option>

              <option value=1>Alimentação</option>
              <option value=2>Transporte</option>
              <option value=3>Saúde</option>
              <option value=4>Educação</option>
              <option value=5>Lazer</option>
              <option value=6>Moradia</option>
              <option value=7>Serviços</option>
              <option value=8>Outros</option>
              <option value=9>Investimentos</option>
            </select>
          </div>

          <!-- Valor -->
          <div class="mb-3">
            <label for="valor" class="form-label">Valor Total</label>
            <input type="number" id="valor" name="valor" class="form-control" required [(ngModel)]="novaDespesa.valor">
          </div>

          <!-- Data -->
          <div class="mb-3">
            <label for="dataCompra" class="form-label">Data da Compra</label>
            <input type="date" id="dataCompra" name="dataCompra" class="form-control" required [(ngModel)]="dataCompra">
          </div>

          <!-- Checkboxes de opções -->
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="cartao" name="cartao" [(ngModel)]="isCartao">
            <label class="form-check-label" for="cartao">Pago com cartão</label>
          </div>
          <!-- Campos de cartão -->
          <div *ngIf="isCartao" class="border rounded p-3">
            <div class="mb-3">
              <label for="cartao" class="form-label">Cartão:</label>
              <select class="form-select" [(ngModel)]="cardId"  name="cardId"> 
                <option [ngValue]="card.id" *ngFor="let card of cartao">{{card.nome}}</option>
              </select>            
            </div>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="parcelado" name="parcelado" [(ngModel)]="isParcelado">
            <label class="form-check-label" for="parcelado">Compra parcelada</label>
          </div>

          <!-- Campos de parcelamento -->
          <div *ngIf="isParcelado" class="border rounded p-3">
            <div class="mb-3">
              <label for="qtdParcelas" class="form-label">N° de Parcelas</label>
              <input type="number" id="qtdParcelas" name="qtdParcelas" class="form-control" [(ngModel)]="requestParcela.QtdParcelas">
            </div>
            <div class="mb-3">
              <label for="valorParcelas" class="form-label">Valor das Parcelas</label>
              <input type="number" id="valorParcelas" name="valorParcelas" class="form-control" [(ngModel)]="requestParcela.Valor">
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="salvarTransacao()" [disabled]="!form.valid">Salvar</button>
      </div>

    </div>
  </div>
</div>
