.gastos {
    max-width: 600px;
    margin: 3rem auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.adicionar{
    display: flex;
    justify-content: end;
}

img {
    width: 25px;
    align-content: end;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.butao {
    display: grid;
    place-items: center;
}

.voltar {
    display: grid;
    place-items: center;
}

.parcelas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
}

.my-form-select {
  background-color: inherit;
  border: inherit;
  font-size: 32px;
  width: auto;
}

.valor {
    color: #ddd;
}