/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    border-radius: 20px;
    border: none;
    background-color: #41708378;   
    padding: 10px;
    color: aliceblue;
    flex: 1;
}
input::placeholder {
    color: rgb(149, 175, 197);
}
.input {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.username, .password {
    display: grid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    place-items: center;
}
.button {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.btn-login {
    border: none;
    transition: transform 0.3s;
    border-radius: 15px;
    background-color: #273857; /* Adicione uma cor de fundo para o botão */
    color: white; /* Cor do texto do botão */
    padding: 5px 10px; /* Adicione espaçamento interno */
    cursor: pointer;
    align-self: flex-end; 
}

.btn-login:hover {
    transform: scale(1.1);
    cursor: pointer;
}