<!-- login.component.html -->
<div class="login-container bg-login">
    <div class="circle">
        <img src="/assets/img/user-login.svg" alt="">
    </div>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form">
        <div class="input">
            <div class="username me-2">
                <img src="/assets/img/user-group.svg" alt="">
            </div>
            <input type="text" id="username" placeholder="Usuário" required [(ngModel)]="username" name="username">
        </div>
        <div class="input">
            <div class="password me-2">
                <img src="/assets/img/lock-password.svg" alt="">
            </div>
            <input type="password" placeholder="Senha" id="password" required [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Login</button>
    </form>
</div>
  