
<div class="login-container">
  <div class="login-card">
    <div class="login-left">
      <h1>Fidelis</h1>
      <p>Gerencie suas despesas, receitas e metas com eficiência.</p>
      <img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" alt="Finance Icon">
    </div>

    <div class="login-right">
      <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form">
        <div class="input-group">
          <label>Nome/Login</label>
          <input type="text" id="username" placeholder="Usuário" required [(ngModel)]="username" name="username">
        </div>

        <div class="input-group">
          <label>Senha</label>
          <input type="password" placeholder="Senha" id="password" required [(ngModel)]="password" name="password">
        </div>

        <div class="button">
            <button type="submit" class="btn-login">Login</button>
            <button type="button" (click)="registrar()" class="btn-login">Cadastrar</button>
        </div>

        <a class="forgot" href="#">Esqueci minha senha</a>
      </form>
    </div>
  </div>
</div>
