/* login.component.css */
.login-container {
    display: grid;
    place-items: center;
    width: auto;
    height: auto;
}
.circle {
    grid-area: circle;
    display: grid;
}

.form {
    grid-area: form;
    display: grid;
    grid-template-areas: 
    "loggin"
    "password"
    "botton";
    place-items: end;
    gap: 10px;
}

input {
    opacity: 10%;
    border-radius: 15px;
    border: none;
}
.input {
    display: flex;
}
.username, .password {
    display: grid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    place-items: center;
}
