.grafico {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #021c2200, #02171b00);
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .grafico {
    width: 50%;
    height: 110px;
  }
}