<form id="despesaForm" class="despesaForm" (submit)="OnSubmit()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required [(ngModel)]="novaDespesa.descricao">
    </div>
    <div class="form-group">
        <label for="tipoDespesa">Tipo de Despesa</label>
        <select type="number" id="tipoDespesa" name="tipoDespesa" required [(ngModel)]="novaDespesa.categoria">
            <option value=1>Alimentação</option>
            <option value=2>Transporte</option>
            <option value=3>Saúde</option>
            <option value=4>Educação</option>
            <option value=5>Lazer</option>
            <option value=6>Moradia</option>
            <option value=7>Serviços</option>
            <option value=8>Outros</option>
            <option value=9>Investimentos</option>
        </select>
    </div>
    <div class="form-group">
        <label for="valorTotal">Valor Total</label>
        <input type="number" id="valorTotal" name="valorTotal" step="1" required [(ngModel)]="novaDespesa.valor">
    </div>
    <div class="flex">
        <div class="form-group">
            <label for="dataCompra">Data da Compra</label>
            <input type="date" id="dataCompra" name="dataCompra" required [(ngModel)]="dataCompra">
        </div>
    </div>
    <div class="form-check">
        <label for="parcelado">Parcelado:</label>
        <input type="checkbox" id="parcelado" name="parcelado" [(ngModel)]="despesa.IsParcelada">
    </div>
    <div *ngIf="despesa.IsParcelada" class="parcelado">
        <label for="qtdParcelas">N° de Parcelas:</label>
        <input type="number" name="qtdParcelas" id="qtdParcelas" [(ngModel)]="requestParcela.QtdParcelas">

        <label for="valorParcelas">Valor das Parcelas:</label>
        <input type="number" name="valorParcelas" id="valorParcelas" [(ngModel)]="requestParcela.Valor">
    </div>
    <div class="form-group">
        <button type="submit">Cadastrar Despesa</button>
    </div>
    
</form>
<div>
    {{despesa.TipoDespesa}}
</div>