<div class="container">
    <h1>Parcelas</h1>
    <div class="botoes">
        <div class="voltar">
            <button class="btn btn-sm btn-warning" (click)="voltar()">Voltar</button>
        </div>
        <div class="total">
            {{valotTotal | currency}}
        </div>
    </div>
    <div class="linha"></div>
    <section>
        <h3>À Pagar</h3>
        <div class="card-parcelas">
            <div class="parcela" *ngFor="let parcela of parcelas" [ngStyle]="{'background-color': DefineCorParcela(parcela.parcela)}">
                <div class="card-header">
                    <b>{{parcela.despesa.nome}}</b> 
                </div>
                <div class="card-body">
                    <div class="salario d-flex">
                        <div class="data me-2"><b>{{parcela.parcela.dataVencimento| date}}:</b></div>
                        <div class="valor"><b>{{ parcela.parcela.valor | currency }}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" *ngIf="parcelas.length == 0">Tudo Pago Graças a Deus!! Obrigado, Senhor!!!</div>
    </section>
    <div class="linha"></div>
    <section>
        <h3>Pagas</h3>
        <div class="card-parcelas" *ngIf="parcelasPagas.length > 0">
            <div class="parcela bg-verde-pastel" *ngFor="let parcela of parcelasPagas">
                <div class="card-header">
                    <b>{{parcela.despesa.nome}}</b> 
                </div>
                <div class="card-body">
                    <div class="salario d-flex">
                        <div class="data  me-2">{{parcela.parcela.dataVencimento| date}}:</div>
                        <div class="valor">{{parcela.parcela.valor | currency}} </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="!(parcelasPagas.length > 0)" >
            Não há nada por aqui
        </div>
    </section>
    
    
</div>
