<div class="grade-container d-none d-lg-block sombra">
    <div class="header">
        <h4>Fluxo Mensal de Pagamentos | {{ totalDespesas | currency: 'BRL' }}</h4>
    </div>

    <div class="table-responsive">
        <table class="table-grade">
            <thead>
                <tr>
                    <th *ngFor="let dia of diasExibidos" class="day-header">{{ dia }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let dia of diasExibidos" class="day-cell">
                        <div class="transacoes-stack">
                            <div *ngFor="let t of getTransacoesDoDia(dia)" class="transacao-marker" [ngClass]="t.status"
                                [title]="t.descricao.replace(' - Parcela', '') + ': ' + (t.valor | currency: 'BRL': 'symbol': '1.2-2')">
                            </div>
                        </div>
                    </td>
                <tr>
                    <td *ngFor="let dia of diasExibidos" class="sum-cell">
                        {{ getSomaDoDia(dia) | currency: 'BRL' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="chart-container">
        <div #chartDiv class="chart"></div>
    </div>
</div>