<div class="container">
  <div class="row">
    <div class="col voltar">
        <button class="btn btn-sm btn-warning" (click)="Voltar()">Voltar</button>
    </div>
    <h1 class="col">{{aindaFaltaParcelado + aindafalta | currency}}</h1>
    <div class="col butao">
        <button class="btn btn-sm btn-primary" (click)="AdicionaGasto()">Add</button>
    </div>
</div>  

  <div class="linha"></div>
  <h3>Abertos Previstos: {{aindaFaltaParcelado | currency}}</h3>
  
  <div class="card-parcelas">
    <div class="parcela" *ngFor="let parcela of parcelas" [ngStyle]="{'background-color': DefineCorParcela(parcela.parcela)}">
      <div class="card-header">
          <b>{{parcela.despesa.Nome}}</b>
      </div>
      <div class="card-body">
          <div class="salario d-flex">
              <div class="data me-2"><b>{{parcela.parcela.DataVencimento| date}}:</b></div>
              <div class="valor"><b>{{ parcela.parcela.Valor | currency }}</b></div>
          </div>
          <button class="btn btn-sm btn-primary" (click)="adicionarParcelasLista(parcela.parcela, parcela.despesa)">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="card mb-3"></div>
  <h3>Abertos Adicionais: {{aindafalta | currency}}</h3>
  <div class="card-parcelas">
    <div *ngFor="let gasto of gastos" class="parcela bg-verde-pastel" >
      <div class="text-break card-header">
        <b>{{gasto.Nome}}</b>
        <button class="btn btn-sm" (click)="apagarGasto(gasto.Id)"><img src="/assets/img/user-trash.svg" alt=""></button>
      </div> 
      <div class="card-body">
        <div class="d-flex">
          <div class="me-2">{{gasto.DataCompra | date}}:</div>
          <div>{{gasto.ValorTotal | currency}}</div>
        </div>
        <button class="btn btn-sm btn-primary" (click)="adicionarListaPagamento(gasto)"> Adicionar </button>
      </div>
    </div>
    <div class="pagamento" *ngIf="listaPagamento.length || true">
      <div class="div">
        <div class="card bg-sucess">
          <select name="conta" id="conta" class="form-select" [(ngModel)]="idConta">
            <option [value]="conta.Id" *ngFor="let conta of contas" class="form-control">{{conta.Nome}} - {{conta.Descricao}}</option>
          </select>
          <div class="card-body">
            <table class="table table-rover">
              <thead>
                <tr>
                  <td>nome</td>
                  <td>valor</td>
                  <td>remover</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaPagamento">
                  <td>{{item.Nome}}</td>
                  <td>{{item.ValorTotal | currency}}</td>
                  <td><button class="btn btn-sm btn-success" (click)="removedaListaPagamento(item)"
                    style="padding: 0px; width: 50px;">-</button></td>
                </tr>
                <tr *ngFor="let item of listaParcelasPagar">
                  <td>{{item.despesa.Nome}}</td>
                  <td>{{item.parcela.Valor | currency}}</td>
                  <td><button class="btn btn-sm btn-success" (click)="removedaListaPagamentoParcelas(item.parcela, item.despesa)"
                    style="padding: 0px; width: 50px;">-</button></td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex row">

              <div class="col"><span>Total: </span>{{totalPagar | currency}}</div>
              <button class="btn btn-sm btn-success col" (click)="pagar()" style="padding: 0px; width: 50px;">Pagar</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3"></div>
  <h3>Pagos: {{totalPagos | currency}}</h3>
  <div class="card-parcelas">
    <div *ngFor="let gasto of gastosPagos" class="parcela bg-verde-pastel">
        <div class="card-header text-break">
            <b (click)="objetivos()">{{gasto.Nome}}</b> 
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>Valor:</div>
            <div>{{gasto.ValorTotal | currency}}</div>
            <button class="btn btn-sm btn-success" (click)="despagar(gasto)">-</button>
          </div>
        </div>
      </div>
  </div>
</div>
