<button (click)="Voltar()">Voltar</button>

<div class="gastos">
    <table class="table">
        <thead class="thead">
          <tr>
            <th> N° </th>
            <th> Valor </th>
            <th> Data Vencimento</th>
            <th> Status </th>
            <th> Pagar </th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr  *ngFor="let gasto of gastos">
            <td></td>
            <td> {{gasto.valorTotal | currency}}  </td>
            <td> {{gasto.diaCompra}}/{{gasto.mesCompra}}/{{gasto.anoCompra}} </td>
            <td> {{gasto.status}} </td>    
            <td> 
              <button *ngIf="!gasto.status" (click)="pagar(gasto)">pagar</button>
              <span *ngIf="gasto.status">OK</span>
            </td>
          </tr>
        </tbody>
    </table>
</div>

