.sidebar {
  width: 260px;
  height: 100vh;
  background: linear-gradient(180deg, #021c22, #011418);
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .text {
  display: none;
}

/* Top */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.toggle {
  background: #0b2e36;
  border: none;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  color: #d1e8ec;
  text-decoration: none;
  width: 100%;
}

.item svg {
  color: #d1e8ec;
}

.item:hover {
  background: #0b2e36;
}

.item.active {
  background: #1f434b;
}

.item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  text-decoration: none;
}

.text {
  font-size: 18px;
  line-height: 1;
}

.icon {
  font-size: 20px;
  width: 20px;
  text-align: center;
}

/* Footer */
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer button {
  background: none;
  border: none;
  color: #d1e8ec;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.footer button:hover {
  background: #0b2e36;
}


.nav-link {
  color: #d1e8ec;
}

.nav-link svg {
  fill: currentColor;
}

.nav-link:hover {
  color: #ffffff;
}

.data-grafico {
  grid-area: dataGrafico;
  display: grid;
  grid-template-areas:
    "data graficos";
  grid-template-columns: 11rem 100px;
  gap: 10px;
  place-items: center;
  width: 100%;
}

.data {
  display: grid;
  grid-template-areas:
    "mes mes"
    "linha linha"
    "ano ano";
  width: 170px;
  height: 100px;
}

.mes {
  grid-area: mes;
  font-size: 30px;
}

.ano {
  grid-area: ano;
  text-align: end;
  font-size: 30px;
}

.linha {
  grid-area: linha;
  background-color: aliceblue;
  width: 100%;
  height: 1px;
  border-radius: 15px;
}


.circle img {
  border-radius: 50%;
}