<div class="d-flex justify-content-center" *ngIf="resumoMensal$ | async as resumo">
    <div class="grafico-pizza sombra" [style]="{'--porcentagem': (resumo.gastos_mensal*100/resumo.receita_mensal).toString()}" (click)="dashboard()">
        <div class="legenda d-flex flex-column" >
            <div class="d-flex">
                <div>{{resumo.receita_mensal - resumo.gastos_mensal | currency: 'BRL'}} </div>
                | 
                <div>{{resumo.gastos_mensal/resumo.receita_mensal | percent: '1.0-0' }}</div>
            </div>
            <div class="linha"></div>
            {{resumo.saldo_acumuldado | currency: 'BRL'}}
        </div>
    </div>
</div>