
.meses{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  padding: 25px;
  width: 100%;
  background: linear-gradient(180deg, #021c22, #011418);
  height: 4rem;
}

.barra_navegacao {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.abrev-mes{
  transition: transform 0.3s;
  font-size: 25px;
  font-weight: bold;
}

.abrev-mes:hover{
    transform: scale(1.2);
    cursor: pointer;
}
