
.meses{
  display: flex;
  justify-content: space-between;
  gap: 7px;
  margin: 0.5rem;
  font-size: 20px;
  padding-left: 10px;
  width: 100%;
}

.barra_navegacao {
  display: flex;
  height: 100%;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
}

.abrev-mes{
  transition: transform 0.3s;
  font-size: 25px;
  font-weight: bold;
}

.abrev-mes:hover{
    transform: scale(1.2);
    cursor: pointer;
}
