@media screen  and (max-width: 400px) {
    .pagina {
        display: grid;
        grid-template-areas: 
        'bar'
        'info'
        'side';
        grid-template-rows: 8% 84% 8%;
        height: 100vh;
    }
    app-nav-bar {
        grid-area: bar;
    }
    .side-bar {
        grid-area: side;
    }

    .cards_resumo {
        display:grid;
        grid-template-areas: 
        "saldo_atual saldo_atual"
        "gastos receitas";
    }
    .saldo {
        grid-area: saldo_atual;
        width: 100%;
    }
    .gastos {
        grid-area: gastos;
    }
    .receitas {
        grid-area: receitas;
    }
    .router-outlet {
        grid-area: info;
        padding: 0;
    }
}
