.pagina {
    display: grid;
    grid-template-areas:
        'side bar'
        'side info';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: #011418;
    color: #d1e8ec;
}

.side-bar {
    grid-area: side;
    z-index: 10;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.data .d-flex {
    color: #7ac27a;
    font-weight: 800 !important;
}

.linha {
    height: 1px;
    background: #0b2e36;
    width: 100%;
    margin: 10px 0;
}

main {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #d1e8ec;
}

.router-outlet {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    overflow-y: auto;
}

.cards_resumo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.resumo {
    display: none;
}