.barra_navegacao {
    background-color: #69B6A8;
    height: 5rem;
}
.barra_navegacao {
    justify-content: center;
}
.meses{
    width: auto;
    border: 2px;
    border-color: black;
    font-size: 38px;
}

.info-1{

}

.info-2{
    background-color: aliceblue;
}