
.pagina  {
    display: grid;
    grid-template-areas: 
    'side bar'
    'side info';
    grid-template-columns: auto 1fr;
    grid-template-rows: 70px 1fr;
    height: 100vh;
}

.side-bar {
    grid-area:  side;
    border-radius: 15px;
    height: 99vh;
}

.infos {
    display: grid;
    gap: 5px;
    width: 1fr;
    margin: 5px;
    border-radius: 15px;
    padding: 15px;
}


.data-grafico {
    grid-area: dataGrafico;
    display: grid;
    grid-template-areas: 
    "data graficos";
    grid-template-columns: 11rem 100px;
    gap: 10px;
    place-items: center;
    width: 100%;
}
.data {
    display: grid;
    grid-template-areas: 
    "mes mes"
    "linha linha"
    "ano ano";
    width: 170px;
    height: 100px;
}
.anos-rodape{
    display: none;
}
.mes {
    grid-area: mes;
    font-size: 40px;
}
.ano {
    grid-area: ano;
    text-align: end;
    font-size: 30px;
}
.linha {
    grid-area: linha;
    background-color: aliceblue;
    width: 100%;
    height: 1px;
    border-radius: 15px;
}
main {
    width: 100%;
    height: 100%;
    background-color: #333f5f;
    font-size: 24px;
    border-radius: 15px;
}

svg {
    width: 25px;
    height: 25px;
}


.up-hover {
    transition: transform 0.3s;
}

.up-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#accordionExample {
    display: none;
}

.router-outlet {
    overflow-y: auto;
}
