.info-1 .data-grafico {
    display: none;
}
.porcentagem-despesa {
    margin-bottom: 5px;
}
.barra-progressao {
    background-color: aliceblue;
    width: 150px;
    height: 1.5rem;
    border-radius: 15px;
    text-wrap: nowrap;
    color: #0a0c0e;
    transition: transform 0.3s;
    overflow: hidden;
}

.progressao-barra {
    background-color: #355f70;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    text-wrap: nowrap;
    padding-left: 5px;
}

.grafico-card{
    grid-area: graficoCards;
    display: grid;
    place-items: center;
    width: 100%;
    gap: 20px;
}

.grafico {
    width: 95%;
    display: grid;
    grid-template-areas: 
    "graficoheader"
    "graficobody";
    grid-template-rows: 2rem 1fr;
    background-color: rgb(78, 156, 156);
    border-radius: 15px;
    height: 100%;
}
.grafico-header{
    display: grid;
    grid-template-columns: 85% 10%;
    grid-area: graficoheader;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
}

.grafico-body {
    display: grid;
    grid-area: graficobody;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    place-items: center;
    padding: 5px;
    height: auto;
}

.valores {
    grid-area: valores;
    text-align: left;
}

.valor {
  font-size: 25px;
  height: 2.5rem;
}

.text {
    font-size: 14px;
}

.bg-icon {
    width: 100%;
    grid-area: bg-icon;
    justify-content: end;
    align-items: end;
}

.bg-icon img {
    width: 60px;
    opacity: 30%;
    float: right;
}

.card-feed {
    display: flex;
}
.despesa {
    background-color: rgba(127, 255, 212, 0.123);
    display: grid;
    grid-template-areas: 
    "circle titulo"
    "circle detalhe";
    grid-template-columns: 75px 1fr;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}
.dia {
    display: grid;
    position: relative;
    place-items: center;
    width: 50px;
    height: 50px;
    font-size: 32px;
    border-radius: 50%;
    background-color:  rgba(127, 255, 212, 0.123);
}



.titulo {
    font-weight: bolder;
    font-size: 18px;
}

.up-hover {
    transition: transform 0.3s;
}

.up-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    background-color: #333f5f;
    font-size: 24px;
    border-radius: 15px;
}

svg {
    width: 25px;
    height: 25px;
}

.valor-conta-mobile {
    display:none;
}

.accordion {
    width: 100;
}

.circle img {
    border-radius: 50%;
}