<nav class="navbar barra_navegacao"> 
  <ul class=" d-flex  justify-content-center">
    <li class="meses d-flex" *ngFor="let mes of ano.meses; let i = index">
      <div class="abrev-mes"(click)="mudaMes(mes)">{{mes.nomeAbrev}}</div>
    </li>
    <li class="meses d-flex">
      <div class="abrev-mes" (click)="graficos()">Graficos</div>
    </li>
  </ul>
</nav>
<div class="d-flex">
  <button class="btn btn-sm btn-success" *ngFor="let ano of anosDeDivida" (click)="mudaAno(ano)">{{ano}}</button>
</div>
<div class="info-1" id="info-1" name="info-1" className="info-1">
  <div class="data-grafico">

    <div class="data">
      <div class="mes">
        {{systemService.mes.nome}}
      </div>
      <div class="linha"></div>
      <div class="ano">
        {{systemService.ano.valor}}
      </div>
    </div>

    <div class="grafico-pizza" [ngStyle]="{'background-color': corGrafico}">
      {{
        aindaPossoGastar | currency
      }}
    </div>
  </div>

  <div class="grafico-card">
    <div class="grafico">
      <div class="grafico-header">
        <h5>Despesas Parcelas</h5>
        <button class="btn btn-success btn-sm" (click)="adicionarDespesa()">add</button>
      </div>
      <div class="grafico-body">
        <div class="porcentagem-despesa" *ngFor="let despesa of despesasParceladas">
          <div class="barra-progressao" (click)="parcelas(despesa)">
            <div class="progressao-barra" [ngStyle]="{'width': (despesa.valorPago * 150)/ despesa.valorTotal + 'px'}">{{despesa.nome}}</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="cards">
      <div class="card-button bg-laranja-pastel text-white" (click)="previstos()">
        <div class="circle">
          <img src="/assets/img/money-with-wings.svg"/>
        </div>
        <div class="valores">
          <div class="valor"> {{gastoTotalMes | currency}} </div>
          <span class="text">Gastos Previstos</span>
        </div>
        <div class="bg-icon"><img src="/assets/img/money-with-wings.svg"/></div>
      </div>
  
      <div class="card-button bg-vermelho-pastel text-white" (click)="gastos()">
        <div class="circle">
          <img src="/assets/img/bitcoin-cash-money.svg"/>
        </div>
        <div class="valores">
          <div class="valor"> {{gastosAdicionais | currency}} </div>
          <span class="text">Gastos Adicionais</span>
        </div>
        <div class="bg-icon"><img src="/assets/img/bitcoin-cash-money.svg"/></div>
        
      </div>
      
      <div class="card-button bg-verde-pastel text-white" (click)="contasDetalhes()">
        <div class="circle">
          <img src="/assets/img/money-bag.svg"/>
        </div>
        <div class="valores">
          <div class="valor"> {{saldoAtual | currency}} </div>
          <span class="text">Saldo Total</span>
        </div>
        <div class="bg-icon"><img src="/assets/img/money-bag.svg"/></div>
        
      </div>
  
      <div class="card-button bg-azul-pastel text-white" (click)="entradaDetalhes()">
        <div class="circle">
          <img src="/assets/img/dollar-banknote.svg"/>
        </div>
        <div class="valores">
          <div class="valor">{{aReceber | currency}}</div>
          <span class="text">Valores à receber</span>
        </div>
        <div class="bg-icon"><img src="/assets/img/dollar-banknote.svg" alt=""></div>
        
      </div>
    </div>
  </div>
  
</div>
    

<div class="info-3">

  <div class="row">
    Soma: 
    <div class="col" style="font-size: 24px; font-weight: bolder;">{{somaDespesasMes | currency}}</div>
    <div class="d-flex col">
      <select #tipoDespesa type="number" id="tipoDespesa" name="tipoDespesa" class="form-select form-select-sm" (change)="filtrar(tipoDespesa.value)">
        <option value="0">Todos</option>
        <option value=1>Alimentação</option>
        <option value=2>Transporte</option>
        <option value=3>Saúde</option>
        <option value=4>Educação</option>
        <option value=5>Lazer</option>
        <option value=6>Moradia</option>
        <option value=7>Serviços</option>
        <option value=8>Outros</option>
      </select>
      <button class="btn btn-sm btn-success">Filtrar</button>
    </div>
  </div>

  <div class="pagas" *ngIf="despesasPagas!.agrupamento.length > 0">
    <div class="pagas-over">
      <div class="paga" *ngFor="let paga of despesasPagas!.agrupamento" (click)="filtraPagas(paga.despesas)" >
        <img [src]="defineImagem(paga.tipo)" style="width: 50px; height: 50px;" alt="">
        {{paga.soma | currency}}
      </div>
    </div>
  </div>

  <div *ngFor="let despesa of despesasFiltradas" class="card-feed">
    <div class="dia">{{despesa.dataCompra.getUTCDate()}}</div>
    <div class="despesa" [ngStyle]="{'background-color': despesa.isPaga == 3? '#af6e6e': 'rgb(78, 156, 156)'}">
      <div class="circle">
        <img [src]="defineImagem(despesa.tipoDespesa)" alt="">
      </div>
      <div class="titulo">
        {{despesa.nome}} - {{despesa.valor | currency}}
        <input type="checkbox" class="">
      </div>
      <div class="detalhe">{{despesa.detalhes}}</div>
    </div>
  </div>

</div>