@media (max-width: 768px) {
    .pagina {
        grid-template-areas:
            'info'
            'side';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .router-outlet {
        padding: 1rem;
        padding-bottom: 80px;
        /* Space for bottom bar */
    }

    .cards_resumo {
        grid-template-columns: 1fr;
    }
}