@media screen and (max-width: 400px) {
    .pagina {
        display: grid;
        grid-template-areas:
            'bar'
            'info';
        grid-template-rows: 4rem 1fr;
        height: 95vh;
        width: 100%;
    }

    app-nav-bar {
        grid-area: bar;
        overflow: auto;
        margin-bottom: 0;
    }

    .side-bar {
        display: block;
        grid-area: side;
        width: 100%;
        height: auto;
        bottom: 0;
        position: fixed;
        /* Ensure it sticks to bottom */
        z-index: 1000;
    }

    .cards_resumo {
        display: grid;
        grid-template-areas:
            "saldo_atual saldo_atual"
            "gastos receitas";
        width: 100%;
    }

    .saldo {
        grid-area: saldo_atual;
        width: 100%;
    }

    .gastos {
        grid-area: gastos;
    }

    .receitas {
        grid-area: receitas;
    }

    .router-outlet {
        grid-area: info;
        padding: 0;
        overflow-y: auto;
        width: 100%;
    }
}