.paga, .grafico-pizza{
    transition: transform 0.3s;
}

.pagina  {
    display: grid;
    grid-template-areas: 
    'side bar'
    'side info';
    grid-template-columns: auto 1fr;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.side-bar {
    grid-area:  side;
    margin: 5px;
    border-radius: 15px;
     
}

.infos {
    display: grid;
    gap: 5px;
    width: 1fr;
    overflow-y: auto;
    overflow-x: auto;
    height: 100vh;
    margin: 5px;
    border-radius: 15px;
    padding: 15px;
}


 .data-grafico {
    grid-area: dataGrafico;
    display: grid;
    grid-template-areas: 
    "data graficos";
    grid-template-columns: 11rem 115px;
    gap: 20px;
    place-items: center;
}
.data {
    display: grid;
    grid-template-areas: 
    "mes mes"
    "linha linha"
    "ano ano";
    width: 180px;
    height: 100px;
}

.mes {
    grid-area: mes;
    font-size: 40px;
}
.ano {
    grid-area: ano;
    text-align: end;
    font-size: 30px;
}
.linha {
    grid-area: linha;
    background-color: aliceblue;
    width: 100%;
    height: 3px;
    border-radius: 15px;
}
.porcentagem-despesa {
    margin-bottom: 5px;
}
.barra-progressao {
    background-color: aliceblue;
    width: 150px;
    height: 1.5rem;
    border-radius: 15px;
    text-wrap: nowrap;
    color: #0a0c0e;
    transition: transform 0.3s;
    overflow: hidden;
}

.progressao-barra {
    background-color: #355f70;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    text-wrap: nowrap;
    padding-left: 5px;
}

.grafico-card{
    grid-area: graficoCards;
    display: grid;
    place-items: center;
    width: 100%;
    gap: 20px;
}

.grafico {
    width: 95%;
    display: grid;
    grid-template-areas: 
    "graficoheader"
    "graficobody";
    grid-template-rows: 2rem 1fr;
    background-color: rgb(78, 156, 156);
    border-radius: 15px;
    height: 100%;
}
.grafico-header{
    display: grid;
    grid-template-columns: 85% 10%;
    grid-area: graficoheader;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
}

.grafico-body {
    display: grid;
    grid-area: graficobody;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    place-items: center;
    padding: 5px;
    height: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    row-gap: 5px;
    width: 100%;
    place-items: center;
    margin-top: 10px;
}

.card-button {
    display: grid;
    grid-template-areas: 
    "circle valores"
    "vazio bg-icon";
    grid-template-rows: auto auto;
    grid-template-columns: 30% 70%;
    width: 175px;
    height: 100px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.valores {
    grid-area: valores;
    text-align: left;
}

.valor {
  font-size: 25px;
  height: 2.5rem;
}

.text {
    font-size: 14px;
}

.bg-icon {
    width: 100%;
    grid-area: bg-icon;
    justify-content: end;
    align-items: end;
}

.bg-icon img {
    width: 60px;
    opacity: 30%;
    float: right;
}

.card-feed {
    display: flex;
}
.despesa {
    background-color: rgba(127, 255, 212, 0.123);
    display: grid;
    grid-template-areas: 
    "circle titulo"
    "circle detalhe";
    grid-template-columns: 75px 1fr;
    border-radius: 15px;
    padding: 10px;
    width: 325px;
}
.dia {
    display: grid;
    position: relative;
    place-items: center;
    width: 50px;
    height: 50px;
    font-size: 32px;
    border-radius: 50%;
    background-color:  rgba(127, 255, 212, 0.123);
}



.titulo {
    font-weight: bolder;
    font-size: 18px;
}
.barra-progressao:hover, .card-button:hover, .paga:hover, .grafico-pizza:hover {
    transform: scale(1.2);
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    background-color: #333f5f;
    font-size: 24px;
    border-radius: 15px;
}

svg {
    width: 25px;
    height: 25px;
}

a {
  transition: transform 0.3s;
}

a:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.accordion {
    width: 400px;
}