<div class="pagina" *ngIf="resumoMensal$ | async as resumo">

  <app-side-bar class="side-bar"></app-side-bar>
  <app-nav-bar></app-nav-bar>

  <div class="accordion" id="accordionExample">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="circle">
          <img [src]="avatarUrl"/>
        </div>
        <div class="valores" style="font-size: 35px;">
          <div class="valor"> {{resumo.saldo_atual| currency}}</div>
        </div>
        <a class="up-hover" (click)="logout()">Sair</a>
      </div>  
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        </button>
      </h2>    
    </div>
    
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="mobile" >
          <div style="font-weight: 900; font-size: 30px;" class="data">
            <div class="mes">
              {{systemService.mes.nome}}
            </div>
            <div class="linha"></div>
            <div class="ano">
              {{systemService.ano.valor}}
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <nav class="anos-rodape"> 
    <div class="meses-rodape">
      <div class="d-grid gap-2 d-md-flex" *ngFor="let ano of anosDeDivida">
          <button
            style="margin: 5px;
                   border-radius: 10px;
                   border: none;"
            (click)="mudaAno(ano)">{{ano}}
          </button>
      </div>
    </div>
  </nav>
</div>
