<div class="parcelas">
    <table class="table">
        <thead class="thead">
          <tr>
            <th> N° </th>
            <th> Valor </th>
            <th> Data Vencimento</th>
            <th> Status </th>
            <th> Pagar </th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr  *ngFor="let parcela of parcelas">
            <td></td>
            <td> {{parcela.valor | currency}}  </td>
            <td> {{parcela.diaVencimento}}/{{parcela.mesVencimento}}/{{parcela.anoVencimento}} </td>
            <td> {{parcela.status}} </td>    
            <td> 
              <button *ngIf="parcela.status == 0" (click)="pagar(parcela)">pagar</button>
              <span *ngIf="parcela.status == 1">OK</span>
            </td>
          </tr>
        </tbody>
    </table>
</div>

