<div class="container">
  <h1>Parcelas</h1>
  <button class="btn btn-sm btn-warning" (click)="Voltar()">Voltar</button>
  <div class="card mb-3"></div>
  <h3>Abertos:</h3>
  <div class="d-flex  mb-3">
    <div *ngFor="let parcela of parcelas">
      <div *ngIf="!parcela.isPaga"  class="card card-sm me-2" >
        <div class="card-header text-break">
          <b>{{parcela.dataVencimento | date}}</b> 
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>Valor:</div>
            <div>{{parcela.valor | currency}}</div>
          </div>
          <div class="row">
            <button class="btn btn-sm btn-primary" (click)="pagar(parcela)"> Pagar </button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="card mb-3"></div>

  <h3>Pagos:</h3>
  <div class="d-flex  mb-3">
    
    <div *ngFor="let parcela of parcelas">
      <div *ngIf="parcela.isPaga"  class="card card-sm me-2" >
        <div class="card-header text-break">
          <b>{{parcela.dataVencimento | date}}</b> 
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>Valor:</div>
            <div>{{parcela.valor | currency}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
