<div class="pagina">

  <header class="topo d-flex">
    <h1>Objetivos</h1>
    <button class="btn-novo">+ Novo objetivo</button>
  </header>

  <app-resumo-objetivos
    [objetivos]="objetivos">
  </app-resumo-objetivos>

  <app-filtros-objetivos
    (filtroChange)="mudarFiltro($event)">
  </app-filtros-objetivos>

  <section class="lista">
    <app-card-objetivos
      *ngFor="let obj of objetivosFiltrados"
      [objetivo]="obj">
    </app-card-objetivos>
  </section>

</div>

<div class="grid-temporal" *ngIf="ano$ | async as ano">
  <div class="grid-doze">
    <div class="temp-meses" *ngFor="let mes of ano.meses; let i = index">
      <div class="">{{mes.nomeAbrev}}</div>
    </div>
  </div>
  <div class="grid-doze" *ngFor="let despesa of despesas">
    <div class="despesa" [ngStyle]="{'grid-column': calculaInicioFim(despesa.data_inicio, despesa.data_fim)}">
      {{despesa.descricao.replace('- Parcela', '')}} 
    </div>
  </div>
</div>