.grid-temporal {
  display: grid;
  place-items: center;
  width: 1200px; /* 12 repetições de 100px */
  background-image: linear-gradient(
    to right,
    #ccc 0 1px,
    transparent 1px 100px
  );
  background-size: 100px 100%;
  background-repeat: repeat-x;
  overflow-x: auto;
  width: 100%;
}

.grid-doze {
  display: grid;
  grid-template-areas: "jan fev mar abr mai jun jul ago set out nov dex";
  grid-template-columns: repeat(12, 100px);
  font-size: large;
}

.despesa {
  display: flex;
  align-items: center;
  background-color: rgb(75, 131, 112);
  height: 25px;
  padding-left: 10px;
  margin-top: 5px;
  text-wrap: nowrap;
  border-radius: 15px;
}

.bola {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aqua;
}

.temp-meses {
    text-align: center;
    width: 100%;
}

