<div class="container">
    <h1>Rendas</h1>
    <div class="botoes">
        <div class="voltar">
            <button class="btn btn-sm btn-warning" (click)="voltar()">Voltar</button>
        </div>
        <div class="adicionar">
            <button class="btn btn-sm btn-primary" (click)="AdicionaEntrada()"><img src="/assets/img/plus-coin.svg" alt=""/></button>
        </div>
    </div>
    <div class="linha"></div>
    <h3>À Receber: {{ resumoEntradas.soma_receber}}</h3>
    <div class="grid">
        <div class="card card-sm" *ngFor="let entrada of resumoEntradas.entradas_receber">
            <div class="card-header">
                <b>{{entrada.descricao}}</b> 
            </div>
            <div class="card-body" >
                <div class="salario">
                    <div class="data"><b>{{entrada.data.toString() | date: "MMM dd, yyyy" }}</b>:</div>
                    <div class="valor"><b><input class="form-input" type="number" [(ngModel)]="entrada.valor"></b></div>
                    <button class="btn btn-sm btn-primary" > Up </button>
                </div>
                <button class="btn btn-sm btn-success" (click)="receber(entrada.id)">Receber</button>
                <button class="btn btn-sm btn-success" (click)="deleteEntrada(entrada.id)">Deletar</button>
            </div>
        </div>
    </div>
    <div class="card mb-3"></div>
    <h3>Recebidos: {{resumoEntradas.soma_recebidos | currency}}</h3>
    <div class="grid">
        <div class="card bg-success text-white" *ngFor="let entrada of resumoEntradas.entradas_recebidas">
            <div class="card-header">
                <b>{{entrada.descricao}}</b> 
                <button class="btn btn-sm"><img src="/assets/img/user-trash.svg" alt=""/></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">Salário:</div>
                    <div class="col">{{entrada.valor | currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
