.cards_planejamento {
  width: 100%;
  height: 350px;
  color: black;
  font-size: 1.2rem;
}

.entradas_saidas {
  width: 65%;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.tabs {
  display: flex;
  width: 100%;
  gap: 32px;
  border-bottom: 2px solid #e5e5e5;
  height: 100%;
}

.tab {
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
  color: #8a8a8a;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.tab .icon {
  font-size: 16px;
}

.tab.active {
  color: #1f7a6f;
  /* verde do print */
  font-weight: 600;
}

.tab.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #1f7a6f;
  border-radius: 2px;
}

.categorias {
  width: 100%;
}

.chart-container {
  width: 100%;
  height: 300px;
}

.planejadas {
  width: 35%;
  font-size: 15px;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  overflow: auto;
}

.button_tipo {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 10px;
  justify-content: end;
}

.separation {
  padding-left: 10px;
  width: 100%;
}

.collapse {
  width: 100%;
}

.button_tipo {
  width: 100%;
  border: none;
  text-align: start;
}

.tipos {
  height: auto;
  overflow: auto;
}