@media screen  and (max-width: 400px) {
  .cards_planejamento {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    gap:5px;
    padding: 0px;
    height: fit-content;
    margin-bottom: 10px;
  }

  .planejadas, .entradas_saidas {
    background-color:white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    width: 100%;
  }

  .planejadas {
    font-size: 14px;
  }

  .tab {
    width: 50%;
  }

  .tipo {
    width: 100%;
    display: flex;
    gap: 3px;
    flex-direction: column;
  }

  .button_tipo {
    width: 100%;
    border: none;
    text-align: start;
  }
  
  .categoria {
    margin-bottom: 5px;
    width: 100%;
  }

  .button_tipo {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    justify-content: end;
  }
  .separation {
    padding-left: 10px;
    width: 100%;
  }

  .collapse {
    width: 100%;
  }

  .chart-container {
    height: 200px;
    width: 100%;
  }

  
}