<div class="container">
    <h1>Rendas</h1>
    <button class="btn btn-sm btn-warning" (click)="voltar()">Voltar</button>
    <div class="card mb-3"></div>
    <h3>À Receber</h3>
    <div class="d-flex">
        <div class="d-flex mb-3 col" *ngFor="let entrada of entradas">
            <div class="card card-sm me-2" *ngIf="!entrada.status">
                <div class="card-header">
                <b>{{entrada.nome}}</b> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">Salário:</div>
                        <div class="col"><input class="form-control form-control-sm" type="number" [(ngModel)]="entrada.valor"></div>
                        <button class="btn btn-sm btn-primary col" (click)="atualizaSalario(entrada)"> Up </button>
                    </div>
                    <div class="row" *ngFor="let desconto of funcaoSalario.calcularSalarioLiquido(entrada.valor)">
                        <div class="col"> {{desconto.nome}} </div>
                        <div class="col">{{desconto.valor | currency}}</div>
                    </div>
                    <button class="btn btn-sm btn-success" (click)="receber(entrada, funcaoSalario.calcularSalarioLiquido(entrada.valor)[2].valor)">Receber</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3"></div>
    <h3>Recebidos</h3>
    <div class="d-flex mb-3" *ngFor="let entrada of entradas">
        <div class="card card-sm me-2 bg-success text-white" *ngIf="entrada.status">
            <div class="card-header">
               <b>{{entrada.nome}}</b> 
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">Salário:</div>
                    <div class="col">{{entrada.valor | currency}}</div>
                </div>
                <div class="row" *ngFor="let desconto of funcaoSalario.calcularSalarioLiquido(entrada.valor)">
                    <div class="col"> {{desconto.nome}} </div>
                    <div class="col">{{desconto.valor | currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
