<nav class="navbar barra_navegacao"> 
    <ul class=" d-flex  justify-content-center">
      <li class="meses d-flex" *ngFor="let mes of ano.meses; let i = index">
        <div class="abrev-mes"(click)="mudaMes(mes)">{{mes.nomeAbrev}}</div>
        <div class="barra" *ngIf="i < 11"></div>
      </li>
    </ul>
  </nav>
  

<div class="container">
    <h1>Rendas</h1>
    <div class="botoes">
        <div class="voltar">
            <button class="btn btn-sm btn-warning" (click)="voltar()">Voltar</button>
        </div>
        <div class="adicionar">
            <button class="btn btn-sm btn-primary" (click)="AdicionaEntrada()"><img src="/assets/img/plus-coin.svg" alt=""/></button>
        </div>
    </div>
    <div class="linha"></div>
    <h3>À Receber: {{areceber}}</h3>
    <div class="grid">
        <div class="card card-sm" *ngFor="let entrada of entradasFuturas">
            <div class="card-header">
                <b>{{entrada.Nome}}</b> 
            </div>
            <div class="card-body" >
                <div class="salario">
                    <div class="data"><b>{{entrada.DataDebito.toUTCString() | date: "MMM dd, yyyy" }}</b>:</div>
                    <div class="valor"><b><input class="form-input" type="number" [(ngModel)]="entrada.Valor"></b></div>
                    <button class="btn btn-sm btn-primary" (click)="atualizaSalario(entrada)"> Up </button>
                </div>
                <button class="btn btn-sm btn-success" (click)="receber(entrada, entrada.Valor)">Receber</button>
                <button class="btn btn-sm btn-success" (click)="deleteEntrada(entrada.Id)">Deletar</button>
            </div>
        </div>
    </div>
    <div class="card mb-3"></div>
    <h3>Recebidos: {{recebidos | currency}}</h3>
    <div class="grid">
        <div class="card bg-success text-white" *ngFor="let entrada of entradasRecebidas">
            <div class="card-header">
                <b>{{entrada.Nome}}</b> 
                <button class="btn btn-sm" (click)="deletar(entrada)"><img src="/assets/img/user-trash.svg" alt=""/></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">Salário:</div>
                    <div class="col">{{entrada.Valor | currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
