/* You can add global styles to this file, and also import other style files */
body {
    background-color: #4D5C82;
    font-family: "karantina";
    color: aliceblue;
}

html::-webkit-scrollbar {
    width: 10px;
}
  
html::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #6e6ece;
}
  
html::-webkit-scrollbar-track {
  background: #ededed;
} 

.linha{
  background-color: aliceblue;
  width: 1fr;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 10px;
}

img {
  width: 100%;
}

.bg-verde-pastel {
  background-color: #49865b;
}

.bg-azul-pastel {
  background-color: rgb(78, 156, 156);
}

.bg-laranja-pastel {
  background-color: #e0a16e;
}

.bg-vermelho-pastel{
  background-color: #af6e6e;
}

.bg-login {
  background-color: #4D5C82;
}
.circle {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #2aecc950;
  margin: 8px;
  grid-area: circle;
}

.botoes{
  display: grid;
  grid-template-columns: 50% 50%;
}
.parcela {
  display: grid;
  grid-template-areas: 
  "header"
  "body";
  grid-template-rows: 50px 50px;
  border-radius: 5%;
  padding: 5px;
  width: 175px;
  height: 100px;
}
.card-parcelas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  place-items: center;
  gap: 10px;
}

.meses{
  display: flex;
  margin: 0.5rem;
  text-align: top;
  font-size: 20px;
}

.barra_navegacao {
  display: flex;
  background-color: #69B6A8;
  height: 55px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  border-radius: 15px;
  margin: 5px;
}

.abrev-mes{
  margin-right: 12px;
  transition: transform 0.3s;
}

.abrev-mes:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.agrupamento {
  display: grid;
  overflow-x: auto; /* Permite rolar horizontalmente */
  height: 100px;
  width: 100%;
  & .pagas {
    display: grid;
    grid-template-columns: repeat(8, 65px);
    overflow-x: auto; /* Permite rolar horizontalmente */
    height: 100px;

    & .paga {
      display: grid;
      place-items: center;
      background-color: #2d8b7a;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 10px; /* Margem opcional para espaçamento */
    }
  }
  
}



.grafico-pizza {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: conic-gradient(
      rgb(146, 51, 13) 0%, 
      rgb(150, 34, 34) calc(var(--porcentagem) * 1%),
      rgb(65, 161, 161) calc(var(--porcentagem) * 1%),
      rgb(60, 141, 123) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grafico-pizza::before {
  background-color: azure;
}
.sombra {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* x-offset, y-offset, blur-radius, color */
}