/* You can add global styles to this file, and also import other style files */
body {
    background-color: #4D5C82;
    font-family: "karantina";
    color: aliceblue;
}


html::-webkit-scrollbar {
    width: 10px;
}
  
html::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #6e6ece;
}
  
html::-webkit-scrollbar-track {
  background: #ededed;
}

.linha{
  background-color: aliceblue;
  width: 1fr;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 10px;
}

img {
  width: 100%;
}

.bg-verde-pastel {
  background-color: #49865b;
}

.bg-azul-pastel {
  background-color: rgb(78, 156, 156);
}

.bg-laranja-pastel {
  background-color: #e0a16e;
}

.bg-vermelho-pastel{
  background-color: #af6e6e;
}

.bg-login {
  background-color: #4D5C82;
}
.circle {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #2aecc950;
  margin: 8px;
  grid-area: circle;
}

.botoes{
  display: grid;
  grid-template-columns: 50% 50%;
}
.parcela {
  border-radius: 5%;
  padding: 5px;
  width: 175px;
  height: 75px;
  text-wrap: nowrap;
}
.card-parcelas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  place-items: center;
  gap: 10px;
}