

<nav class="barra_navegacao"> 
  <ul class="meses">
    <li class="d-flex" *ngFor="let ano of anosDeDivida">
      <div class="d-flex justify-content-center">
        <button 
          style="border-radius: 20px;
                 background: linear-gradient(to right, #9e3776, #214b5c, #09293f);
                 color: antiquewhite;
                 font-weight: 900;
                 border: none;"
          
          class="me-2 sombra mt-3" 
          (click)="mudaAno(ano)">{{ano}}</button>
      </div>
    </li>
    <li class="d-flex"><button 
      style="border-radius: 20px;
      background: #214b5c;
      color: antiquewhite;
      font-weight: 900;
      border: none;"
      class="me-2 sombra mt-3"  
      (click)="voltar()">Voltar</button></li>
  </ul>
</nav>

<div class="dashboard">
  <div class="cartao sombra">
    <div class="cartao-header">
      Entradas e Saidas
    </div>
    <div class="cartao-body">
      <div class="barras">
        <div class="barras-grafico" *ngFor="let mes of graficos">
          <div class="entradaSaida">
            <div class="entrada sombra" [ngStyle]="{'height': mes.entrada*180/13000 + 'px'}">
              
            </div>
            <div class="saida sombra" [ngStyle]="{'height': (mes.saida)*180/13000 + 'px'}"></div>
          </div>
          <label>{{mes.nomeabrev}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="cartao sombra">
    <div class="cartao-header">
      Progressão
    </div>
    <div class="cartao-body">
      <div class="progressoes">
        <div class="progressao-grafico" *ngFor="let mes of graficos">
    
          <!-- positivo -->
          <div
            *ngIf="mes.progressao > 0" 
            class="positivo sombra"
            [ngStyle]="{
                    'margin-bottom': contemMenorQZero? '100px': '0px',
                    'height': contemMenorQZero? DefineHeight(mes.progressao/2): DefineHeight(mes.progressao), 
                    'background-color': DefinirCor(mes.progressao),
                    }">
            <div class="valor-progressao">
              {{mes.progressao | currency}}
            </div> 
          </div>
    
          <!-- negativo -->
          <div
            *ngIf="mes.progressao < 0" 
            class="negativo sombra"
            [ngStyle]="{
                    'height': contemMenorQZero? DefineHeight(mes.progressao/2): DefineHeight(mes.progressao), 
                    'background-color': DefinirCor(mes.progressao),
                    }">
            <div class="valor-progressao">
              {{mes.progressao| currency}}
            </div> 
          </div>
          <label>{{mes.nomeabrev}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="cartao sombra">
    <div class="cartao-header">
      Porcentagem em Pizza
    </div>
    <div class="cartao-body">
      <div class="pizza">
        <div class="grafico-pizza sombra" 
        [style]="{
          '--saude': (Saude.saida * 100/ Total), 
          '--alimentacao': (Alimentacao.saida * 100/ Total), 
          '--transporte': (Transporte.saida * 100/ Total), 
          '--educacao': (Educacao.saida * 100/ Total),
          '--lazer': (Lazer.saida * 100/ Total),
          '--moradia': (Moradia.saida * 100/ Total),
          '--servicos': (Servicos.saida * 100/ Total),
          }">
        </div>
        <div class="legendas">
          <div class="legenda" *ngFor="let legenda of legendas">
            <div class="cor me-2 sombra" [ngStyle]="{'background-color': legenda.cor}"></div>
            <div class="nome me-2">{{legenda.nome}}</div>
            <div class="porcentagem">{{legenda.porcentagem /100| percent: "1.0-2"}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  