

<nav class="barra_navegacao"> 
  <ul class="meses">
    <li class="d-flex" *ngFor="let ano of anosDeDivida">
      <div class="d-flex justify-content-center">
        <button 
          style="border-radius: 20px;
                 background: linear-gradient(to right, #9e3776, #214b5c, #09293f);
                 color: antiquewhite;
                 font-weight: 900;
                 border: none;"
          
          class="me-2 sombra mt-3" 
          (click)="mudaAno(ano)">{{ano}}</button>
      </div>
    </li>
  </ul>
</nav>

<div class="dashboard">
  <div class="barras sombra">
    <div class="barras-grafico" *ngFor="let mes of graficos">
      <div class="entradaSaida">
        <div class="entrada sombra" [ngStyle]="{'height': mes.entrada*180/13000 + 'px'}">
          
        </div>
        <div class="saida sombra" [ngStyle]="{'height': (mes.saida)*180/13000 + 'px'}"></div>
      </div>
      <label>{{mes.nomeAbrev.substring(2,0).toUpperCase()}}</label>
    </div>
  </div>
  <div class="progressoes sombra">
    <div class="progressao-grafico" *ngFor="let mes of graficos">

      <!-- positivo -->
      <div
        *ngIf="mes.progressao > 0" 
        class="positivo sombra"
        [ngStyle]="{
                'margin-bottom': contemMenorQZero? '100px': '0px',
                'height': contemMenorQZero? DefineHeight(mes.progressao/2): DefineHeight(mes.progressao), 
                'background-color': DefinirCor(mes.progressao),
                }">
        <div class="valor-progressao">
          {{mes.progressao | currency}}
        </div> 
      </div>

      <!-- negativo -->
      <div
        *ngIf="mes.progressao < 0" 
        class="negativo sombra"
        [ngStyle]="{
                'height': contemMenorQZero? DefineHeight(mes.progressao/2): DefineHeight(mes.progressao), 
                'background-color': DefinirCor(mes.progressao),
                }">
        <div class="valor-progressao">
          {{mes.progressao| currency}}
        </div> 
      </div>
      <label>{{mes.nomeAbrev.substring(2,0).toUpperCase()}}</label>
    </div>
  </div>
  <div class="pizza">
    <div class="grafico-pizza" 
    [style]="{
      '--saude': tipoDespesaAgrupada[2].valorTotal, 
      '--alimentacao': tipoDespesaAgrupada[0].valorTotal, 
      '--transporte': tipoDespesaAgrupada[1].valorTotal, 
      '--educacao': tipoDespesaAgrupada[3].valorTotal,
      '--lazer': tipoDespesaAgrupada[4].valorTotal,
      '--moradia':tipoDespesaAgrupada[5].valorTotal,
      '--servicos': tipoDespesaAgrupada[6].valorTotal,
      }">
    </div>
    <div class="legendas">
      <div class="legenda" *ngFor="let legenda of legendas">
        <div class="cor me-2" [ngStyle]="{'background-color': legenda.cor}"></div>
        <div class="nome">{{legenda.nome}}</div>
      </div>
    </div>
  </div>
  
</div>
  