.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  place-self: center;
  place-items: center;
}
.chart {
  height: 230px;
  width: 400px;
}
.cartao {
  display: grid;
  grid-template-areas: 
  "header"
  "body";
  font-size: 18px;
  margin-top: 10px;
}

.cartao-header, .cartao-body{
  display: grid;
  place-items: center;
}

.progressoes, .barras {
  display: grid;
  grid-template-columns: repeat(12, auto);
  place-items: end;
  gap:2.5px;
  padding: 10px;
}

.progressao-grafico{
  display: grid;
  grid-template-areas: 
  "mov"
  "mes";
  height: 100%;
  grid-template-rows: 1fr 20px;
  & .positivo {
    display: grid;
    place-self: end;
    place-items: center;
    grid-area: mov;
    width: 25px;
  }
  & .negativo {
    display: grid;
    place-self: top;
    place-items: center;
    grid-area: mov;
    justify-self: center;
    margin-top: 95px;
    width: 25px;
  }
  & label {
    grid-area: mes;
  }
}

.barras-grafico {
  display: grid;
  height: 185px;
  grid-template-areas: 
  "mov"
  "mes";
  grid-template-rows: 1fr 20px;
  font-size: 18px;

  & label {
      grid-area: mes;
  }

  & .entradaSaida {
      display: grid;
      grid-area: mov;
      grid-template-areas: 
      "entrada saida";
      place-items: end;
      width: 90%;
      gap: 2px;
      & .entrada {
          grid-area: entrada;
          justify-items: center;
          background-color: rgb(50, 160, 83); 
          width: 12.5px; 
          color: black; 
          font-weight: 1000;
      }
      & .saida {
          grid-area: saida;
          background-color: rgb(202, 63, 38); 
          width: 12.5px; 
          grid-area: saida;
          color: black; 
          font-weight: 1000;
      }
  }
}

.valor-progressao {
  transform: translateX(-50%) rotate(-90deg); 
  font-size: 12px; 
  width: 10px;
  height: 10px;
}

.pizza {
  display: grid;
  grid-template-areas: 
  'grafico legenda';
  gap: 20px;
  padding: 10px;
}

.grafico-pizza {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    rgb(56, 124, 141) 0%, 
    rgb(56, 124, 141) calc(var(--alimentacao) * 1%), /* Primeira parte */
    rgb(226, 224, 111) calc(var(--alimentacao) * 1%), /* Começo da segunda parte */
    rgb(226, 224, 111) calc(var(--alimentacao) * 1% + var(--saude) * 1%), /* Segunda parte */
    rgb(182, 47, 47) calc(var(--alimentacao) * 1% + var(--saude) * 1%), /* Começo da terceira parte */
    rgb(182, 47, 47) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1%), /* Terceira parte */
    rgb(135, 67, 141) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1%), /* Começo da quarta parte */
    rgb(135, 67, 141) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1%), /* Quarta parte */
    rgb(0, 100, 0) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1%), /* Começo da quinta parte */
    rgb(0, 100, 0) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1%), /* Quinta parte */
    rgb(0, 0, 100) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1%), /* Começo da sexta parte */
    rgb(0, 0, 100) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1% + var(--moradia) * 1%), /* Sexta parte */
    rgb(255, 165, 0) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1% + var(--moradia) * 1%), /* Começo da sétima parte */
    rgb(255, 165, 0) 100% /* Sétima parte e cor final */
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.legenda{
  display: flex;
}

.cor{
  width: 20px;
  height: 20px;
}
.grafico-linha {
  display: grid;
  grid-template-areas: 
  "yaxis body"
  "yaxis xaxis";
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr 25px;
}

.linha-vertical {
  grid-area: linha;
  width: 1.5px;
  height: 230px;
  border: 1px solid #ccc;
  background: white;
}

.numeros {
  grid-area: numeros;
  display: grid;
  grid-template-rows: repeat(6, auto);
  font-size: 16px;
  height: 100%;
}

.line {
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: polygon(46% 55%, 60% 68%, 77% 53%, 84% 66%, 97% 55%, 100% 99%, 3% 99%, 2% 62%, 19% 53%, 35% 69%);  
  background-color: #ccc;
  border-left: 2px solid red; /* Cor da linha */
  border-bottom: 2px solid red; /* Para simular a linha */
}

.x-axis {
  grid-area: xaxis;
  display: grid;
  grid-template-columns: repeat(12, auto);
  width: 100%;
}
.y-axis {
  grid-area: yaxis;
  width: 30px;
  display: grid;
  grid-template-areas: 
  "numeros linha";
}
