.dashboard {
  display: flex;
}


.progressoes, .barras{
  display: grid;
  height: 230px;
  width: 400px;
  grid-template-columns: repeat(12, auto);
  place-items: end;
  gap:2.5px;
  padding: 10px;
  margin-bottom: 20px;
}

.progressao-grafico{
  display: grid;
  grid-template-areas: 
  "mov"
  "mes";
  height: 100%;
  grid-template-rows: 1fr 15px;
  font-size: 18px;
  & .positivo {
    display: grid;
    place-self: end;
    place-items: center;
    grid-area: mov;
    width: 15px;
  }
  & .negativo {
    
    display: grid;
    place-self: top;
    place-items: center;
    grid-area: mov;
    justify-self: center;
    margin-top: 100px;
    width: 15px;
  }
  & label {
    grid-area: mes;
  }
}

.barras-grafico {
  display: grid;
  height: 185px;
  grid-template-areas: 
  "mov"
  "mes";
  grid-template-rows: 1fr 20px;
  font-size: 18px;

  & label {
      grid-area: mes;
  }

  & .entradaSaida {
      display: grid;
      grid-area: mov;
      grid-template-areas: 
      "entrada saida";
      place-items: end;
      width: 90%;
      gap: 2px;
      & .entrada {
          grid-area: entrada;
          justify-items: center;
          background-color: rgb(50, 160, 83); 
          width: 12.5px; 
          color: black; 
          font-weight: 1000;
      }
      & .saida {
          grid-area: saida;
          background-color: rgb(202, 63, 38); 
          width: 12.5px; 
          grid-area: saida;
          color: black; 
          font-weight: 1000;
      }
  }
}

.valor-progressao {
  transform: translateX(-50%) rotate(-90deg); 
  font-size: 12px; 
  width: 10px;
  height: 10px;
}

.pizza {
  display: grid;
  grid-template-areas: 
  'grafico legenda';
  gap: 20px;
  margin: 10px; 
}

.grafico-pizza {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    rgb(56, 124, 141) 0%, 
    rgb(56, 124, 141) calc(var(--alimentacao) * 1%), /* Primeira parte */
    rgb(226, 224, 111) calc(var(--alimentacao) * 1%), /* Começo da segunda parte */
    rgb(226, 224, 111) calc(var(--alimentacao) * 1% + var(--saude) * 1%), /* Segunda parte */
    rgb(182, 47, 47) calc(var(--alimentacao) * 1% + var(--saude) * 1%), /* Começo da terceira parte */
    rgb(182, 47, 47) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1%), /* Terceira parte */
    rgb(135, 67, 141) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1%), /* Começo da quarta parte */
    rgb(135, 67, 141) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1%), /* Quarta parte */
    rgb(0, 100, 0) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1%), /* Começo da quinta parte */
    rgb(0, 100, 0) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1%), /* Quinta parte */
    rgb(0, 0, 100) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1%), /* Começo da sexta parte */
    rgb(0, 0, 100) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1% + var(--moradia) * 1%), /* Sexta parte */
    rgb(255, 165, 0) calc(var(--alimentacao) * 1% + var(--saude) * 1% + var(--transporte) * 1% + var(--educacao) * 1% + var(--lazer) * 1% + var(--moradia) * 1%), /* Começo da sétima parte */
    rgb(255, 165, 0) 100% /* Sétima parte e cor final */
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grafico-pizza::before {
  background-color: azure;
}


.legenda{
  display: flex;
}

.cor{
  width: 20px;
  height: 20px;
}