

<nav class="barra_navegacao"> 
  <ul class="meses">
    <li class="d-flex" *ngFor="let ano of anosDeDivida">
      <div class="d-flex justify-content-center">
        <button 
          style="border-radius: 20px;
                 background: linear-gradient(to right, #9e3776, #214b5c, #09293f);
                 color: antiquewhite;
                 font-weight: 900;
                 border: none;"
          
          class="me-2 sombra mt-3" 
          (click)="mudaAno(ano)">{{ano}}</button>
      </div>
    </li>
    <li class="d-flex"><button 
      style="border-radius: 20px;
      background: #214b5c;
      color: antiquewhite;
      font-weight: 900;
      border: none;"
      class="me-2 sombra mt-3"  
      (click)="voltar()">Voltar</button></li>
  </ul>
</nav>

<div class="dashboard">

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="chart" id="entradas_saidas"></div>
      </div>
      <div class="carousel-item">
        <div class="chart" id="progressao"></div>
      </div>
      <div class="carousel-item">
        <div class="chart" id="grafico_linha"></div>
      </div>
      <div class="carousel-item">
        <div class="chart" id="pizza"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  