.progress-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;

}

.bar {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 999px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(52, 134, 45, 0.5);
}

.fill {
  height: 100%;
  border-radius: 999px;
  transition: width 0.4s ease;
  box-shadow: 4px 4px 10px rgba(41, 141, 41, 0.5);
}

.valores {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}